{% extends 'quiz_app/quiz_base.html' %}

{% block content %}
    <div class="container" id="massmedia">
    {% for test in tests %}
        <div class="row">
            <div class="container col-sm-9">
                <div class="card text-center">
                    <div class="card-header">{{ test.quiz_title }} з {{ test.quiz_discipline }}</div>
                    <div class="card-body">
{#                        <h4 class="card-title">Студенти НТУУ «КПІ ім. І.Сікорського» створили бота для пошуку розеток</h4>#}
                        <p class="card-text">{{ test.test_description }}</p>
                            {% if test.quiz_single_attempt %}
                                <p class="description">(Одна спроба)</p>
                            {% endif %}
                    <form action="{% url 'test' test.id %}" method="post" style="padding: 0; border: none;">
                        {% csrf_token %}
                        <input type="submit" class="btn btn-primary" value="Розпочати">
                    </form>
                    </div>
                </div>
            </div>
        </div>
        <p></p>
    {% endfor %}
    </div>
{% endblock %}
